.main{
    border: 2px solid rgb(228, 220, 220);
    margin: 30px 22%;
    padding: 30px;
    border-radius: 7px;
    
}
.container2{
    padding-left: 20px;
}
mat-form-field.mat-form-field {
    font-size: 12px;
  }