
.example-container {
  width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
   
    background-color: rgb(244, 242, 242);
   
  }
  
.example-toolbar{
      background-color: whitesmoke;
      border-top: 1px solid gray;
      border-bottom: 1px solid rgb(128, 123, 123);
      height: 60px;
      padding-bottom: 5px;
      position: relative;
      vertical-align: middle;
      // text-rendering: optimizeLegibility;
      // -webkit-font-smoothing: antialiased;

      
  }
  
  

    .example-container{
      width: 100%;
    }
  mat-form-field.mat-form-field {
    font-size: 10px;
    width: 600px;
    height: 40px;
    border: 2px snow;
  }
  mat-nav-list a{
      border-top-right-radius:30px ;
      border-bottom-right-radius: 30px;
  }
  .mat-nav-list a:focus{background-color: burlywood;}
  mat-sidenav{
      border-left: none;
  }
 
      
  
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

    
  }
  .icon{
      width: 30px;
      height: 30px;
      padding-right: 20px;
      
  }

  .mat-nav-list{
      width: 250px;
  }
  .sidenave{
      
      height: 100%;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  @media (min-width: 360px) and (max-width: 700px)
  {
    .example-toolbar{
      display: inline-block;
      font-size: 10px;
      line-height: 5px;
      padding-left: 0px;
      position: relative;
      vertical-align: middle;
      text-rendering: optimizeLegibility;
    }
  }
 