<div>
    <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" fxFlex=100>

        <mat-toolbar color="white" class="example-toolbar" fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxLayout="row" fxLayoutAlign=" center" >
                <button mat-icon-button (click)="snav.toggle()" style="color: rgb(61, 58, 58);">
                    <mat-icon>menu</mat-icon>
                </button>
                <div fxHide.xs>
                    <img src="../../../assets/keep_2020q4_48dp.png" alt="img">
                </div>
                <div>
                    <h3 class="fundoo" style="font-size: 30px; font-style: inherit">
                        <span style="color: rgb(44, 44, 230)">F</span>
                        <span style="color: rgb(216, 65, 65)">u</span>
                        <span style="color: rgb(219, 154, 32)">n</span>
                        <span style="color: rgb(46, 46, 128)">d</span>
                        <span style="color: rgb(72, 177, 72)">o</span>
                        <span style="color: rgb(141, 17, 17)">o</span>
                    </h3>
                </div>
            </div>
            <div fxFlex style="padding-left: 40px;position: relative;">
                <div style="margin-bottom: 10px;"fxFlex=100  >
                    <mat-form-field appearance="outline" fxHide.xs fxFlex=100>
                        <mat-icon fxShow.xs style="color:rgb(61, 58, 58);font-size: x-large;vertical-align: middle;">search
                        </mat-icon>

                        <input (keyup)=" searchtitle($event)" matInput placeholder="Search"
                            style="font-size:large;padding-left: 10px;vertical-align: middle;" fxFlex=100>

                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between ">
                <div fxLayout="row" fxLayoutAlign="space-between " style="color:rgb(61, 58, 58);margin-right: 60px;"
                    fxflex=100>
                    <div fxFlex=33>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <img src="./../../../assets/refresh_FILL0_.png" alt="img" class="icon">
                        </button>
                    </div>
                    <div fxFlex=33>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <img src="./../../../assets/view_agenda_.png" alt="img" class="icon">
                        </button>
                    </div>
                    <div fxFlex=33>
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <img src="./../../../assets/settings_.png" alt="img" class="icon">
                        </button>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between  " style="color:rgb(61, 58, 58); " fxFlex>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <img src="./../../../assets/appslogo.png" alt="img" class="icon">
                    </button>
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <img src="./../../../assets/account_circle_1.png" alt="img" class="icon">
                        </button>
                        <mat-menu #menu="matMenu">

                            <img (click)="logout()" routerLink="./login"
                                src="../../../assets/settings_power_FILL0_wght400_GRAD0_opsz48.png" alt="">


                        </mat-menu>
                    </div>
                </div>
            </div>
        </mat-toolbar>


        <mat-sidenav-container class="example-sidenav-container">
            <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" class="exampleSide">
                <div class="sidenave">
                    <div fxLayout="row" fxLayoutAlign="start center" style="vertical-align: center;">

                        <mat-nav-list>
                            <a mat-list-item routerLink="./getAllNotes">
                                <img src="./../../../assets/note.png" alt="img" class="icon"> Notes
                            </a>
                        </mat-nav-list>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" style="vertical-align: center;">

                        <mat-nav-list>
                            <a mat-list-item routerLink=".">
                                <img src="./../../../assets/reminder.png" alt="img" class="icon"> Reminders
                            </a>
                        </mat-nav-list>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" style="vertical-align: center;"
                        *ngFor="let LabelArr of lableArray">

                        <mat-nav-list>

                            <a mat-list-item>
                                <img src="./../../../assets/newLable.png" alt="img" class="icon"> {{LabelArr.labelName}}
                            </a>
                        </mat-nav-list>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" style="vertical-align: center;">

                        <mat-nav-list>

                            <a mat-list-item (click)="openDialog()">
                                <img src="./../../../assets/edit_FILL0.png" alt="img" class="icon"> Edit Labels
                            </a>
                        </mat-nav-list>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" style="vertical-align: center;">

                        <mat-nav-list>
                            <a mat-list-item routerLink="./archieve">
                                <img src="./../../../assets/archive_.png" alt="img" class="icon"> Archieve
                            </a>
                        </mat-nav-list>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" style="vertical-align: center;">

                        <mat-nav-list>
                            <a mat-list-item routerLink="./trash">
                                <img src="./../../../assets/delete.png" alt="img" class="icon">Trash
                            </a>
                        </mat-nav-list>
                    </div>
                </div>
            </mat-sidenav>

            <mat-sidenav-content style="margin-top: 30px; padding-left: -10px;">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>