img{
    width: 15px;
    height: 15px;
    opacity: 0.61;
    padding-right: 10px;
}
.pop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    max-width: 170px;
    margin-left: 5px;
   
  }
