<div fxlatout="row wrap" fxLayoutAlign="start center" style="padding-left:-30px">
    <img src="./../../../assets/titlebel.svg">
    <img src="./../.././../assets/plussicon.svg">

    
        <img style="background-color: transparent;border: none;" [matMenuTriggerFor]="aboveMenu" src="./../../../assets/color.svg">
    
    <mat-menu #aboveMenu="matMenu" x-Position="below">
        <div class="pop">
            <div *ngFor='let color of colorarray'>
                <button style="background-color: transparent;border: none;" (click)="setColor(color)">
                    <mat-icon [ngStyle]="{color:color}">circle</mat-icon>
                </button>
            </div>
        </div>
    </mat-menu>

    <img src="../../../assets/imgicon.svg">

    <img src="../../.././assets/archive_.png" (click)="archieve()">

    <!-- <img src="./../../../assets/undo.svg" >
    <img src="./../../../assets/redo.svg" alt="img"> -->
    <div>

        

        
        <img mat-button [matMenuTriggerFor]="menu" src="../.././../assets/more.svg">
        <mat-menu #menu="matMenu">
            <button mat-menu-item style="margin-top: -20px;padding: -20px;" (click)="Deletenote()"> Delete note</button>
            <button mat-menu-item style="margin-top: -20px;padding: -20px;"> Add Label</button>

        </mat-menu>
    </div>
</div>


