<div  fxLayout="column" fxLayoutAlign=" center" style="margin-top: 30px; margin-left: 20px; "  fxFlex=100>
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()" fxFlex=100>
        <div class="container" fxFlex=100>
            <div class="container1" (click)="hideAndShow()"
                *ngIf="show || !show"  >
                <div fxLayout="row "fxFlex>
                    <input formControlName="title" type="text" class="input" placeholder="Title" fxFlex>
                    <img *ngIf="show" src="./../../../assets/pin.svg" alt="" style="padding-left: 60px;width: 20px;height: 20px;">
                    <div class="secondimg"  *ngIf=" !show">
                        <img src="./../../../assets/newList.svg">
                        <img src="../../../assets/newnote.svg">
                        <img src="../../../assets/imgicon.svg">
                    </div>
                </div>

            </div>
            <div style="height: 30px; padding: 10px 15px; font-size: medium;" *ngIf="show">
                <input formControlName="description"  type="text" class="input" placeholder="description">
            </div>


            <div style="padding-right: 40px; font-size: medium;height: 50px; " fxLayout="row" fxLayoutAlign="space-between " *ngIf="show">
                <div  style="padding-left: 18px;">
                    <app-icon></app-icon>
                </div>

                <div>
                    <button mat-button style="padding-left: 20px;"  >close</button>
                </div>
            </div>

        </div>
    </form>

</div>