.input{
    width:450px;
    padding:10px ;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    background-color:rgb(242, 234, 234);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    
  }
  .secondimg img{
    width: 20px;
    height: 20px;
    padding-left: 15px;
    padding-top: 5px;
  }
  .container{
  width:620px;display: block; background-color:rgb(242, 234, 234); border-radius: 7px; box-shadow: 2px 5px 10px 9px solid rgb(223, 162, 162);
}
.container1
{
  height: 25px; padding: 10px 15px; font-size: medium;
  margin-bottom: 10px;
}