.input{
    width:450px;
    padding:8px ;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    background-color:rgb(242, 234, 234)
    
  }
  .secondimg img{
    width: 20px;
    height: 20px;
    padding-left: 15px;
    padding-top: 5px;
  }
  .container{
  width:620px; background-color:rgb(242, 234, 234); border-radius: 7px; box-shadow: 2px 5px 10px 9px solid rgb(223, 162, 162);
}