<div fxLayout="column" fxLayoutAlign="center center" class="main" fxFlex>
    
    <div class="container1">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h3 style="font-size: 30px; font-style: inherit">
                <span style="color: rgb(44, 44, 230)">F</span>
                <span style="color: rgb(216, 65, 65)">u</span>
                <span style="color: rgb(219, 154, 32)">n</span>
                <span style="color: rgb(46, 46, 128)">d</span>
                <span style="color: rgb(72, 177, 72)">o</span>
                <span style="color: rgb(141, 17, 17)">o</span>
            </h3>
            <span style="margin-top: -10px;font-size: x-large;">Find your email</span>
            <span style="font-size: 17px;padding-top: 25px; ">Enter your phone number or recovery email</span>
        </div>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="center start" style="margin-top:30px;">
            <mat-form-field appearance="outline">
                <mat-label>Phone number or email</mat-label>
                <input  formControlName="email" matInput placeholder="" />
                <mat-error>Enter email or phone number</mat-error>
                
            </mat-form-field>
        </div>
        
       
        
        <div fxLayout="row" fxLayoutAlign="end end">
            
            <button mat-raised-button color="primary" >Next</button>
        </div>
        </form>
    </div>
    

</div>
